src/main/app/validate-address-smartystreets.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" version="EE-3.5.2" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <data-mapper:config name="CSV_to_JSON" transformationGraphPath="csv_to_json.grf" doc:name="CSV_to_JSON"/>
    <byte-array-to-string-transformer mimeType="application/json" name="Byte_Array_to_String" doc:name="Byte Array to String"/>
    <http:http-response-to-string-transformer mimeType="application/json" name="HTTP_Response_to_String" doc:name="HTTP Response to String"/>
    <object-to-string-transformer mimeType="application/json" name="Object_to_String" doc:name="Object to String"/>
    <flow doc:description="Upload a csv file of addresses and validate against the SmartyStreets API" doc:name="Address_Validation_Via_SmartyStreets" name="Address_Validation_Via_SmartyStreets">
        <file:inbound-endpoint doc:name="Poll files" moveToDirectory="src/main/resources/output" path="src/main/resources/input" pollingFrequency="10000" responseTimeout="10000"/>
        <data-mapper:transform config-ref="CSV_to_JSON" doc:name="CSV to JSON"/>
        <https:outbound-endpoint exchange-pattern="request-response" method="POST" address="https://api.smartystreets.com/street-address?auth-id=${smartystreets.authId}&amp;auth-token=${smartystreets.authToken}" mimeType="application/json" transformer-refs="Byte_Array_to_String" doc:name="HTTP" responseTransformer-refs="Object_to_String"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        
    </flow>
</mule>